<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="AutomationSeleniumWeb">

	<listeners>
		<listener class-name="Automation.utilities.Reporting" />
	</listeners>


	<test name="AutomationSelenium Test">
		<parameter name="browser" value="chrome" />
		<classes>
			<class name="Automation.testCases.TC_GoogleSearchKey_001" />
<!--			<class name="TC_GoogleSeachResultTest_002" />-->


<!--			<class name="TC_LoginTest_001" />-->
			<!--  <class name="TC_LoginDDT_002" />-->
<!--			<class name="TC_AddCustomerTest_003" />-->

		</classes>

	</test>

</suite>